
.App {
background-color: #ACD1AF;
}
--------------------------

section,
div {
  form {
    input, select {
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
      border-radius:2em;
    }
  }
}

input{
  width: 90vw;
}

select{
  width: 92vw;

}

button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:1000;
  font-size: large;
  color:#FFFFFF;
  background-color:#9FB9A1;
  text-align:center;
  transition: all 0.2s;
  }
 button:hover{
  background-color:#CDE3CF;
  }

.footer{
  background-color: #708872;
  width: 100%;
  height: 4rem;
  margin: auto;
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  margin-top: 30px;
  
}

.home{
  background: url("https://i.imgur.com/0VLbg85.png");
  height: 100vh;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  padding-bottom: 1px;
}

.meal{
  display: flex;
  border-radius: 8px;
  border-color: #8AA78C;
  border: #8AA78C ;
  border-width: thick;
}

.footerImg{
  height: 30px;
  margin-top: 20px;
  margin-right: 40px;
  background-color: #708872;
}

