// --------------------------
// VARIABLES
// --------------------------
// $maincolor: black;
// $contrastcolor: white;

// @mixin white-text-black-bg {
//   color: $contrastcolor;
//   background-color: $maincolor;
// }

// @mixin black-text-white-bg {
//   color: $maincolor;
//   background-color: $contrastcolor;
// }

.App {
background-color: #ACD1AF
}
// --------------------------
// Header
// --------------------------

nav {
  // @include white-text-black-bg;
  // display: flex;
  // justify-content: flex-start;

  // a {
  //   @include white-text-black-bg;

  //   div {
  //     margin: 10px;
  //     font-size: large;
  //   }
  // }
}
section,
div {
  form {
    input, select {
      // @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
      border-radius:2em;
      &[type="submit"]:hover {
        // @include black-text-white-bg;
      }
    }
  }
}

input{
  width: 90vw;

}

select{
  width: 92vw;

}

button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:1000;
  font-size: large;
  color:#FFFFFF;
  background-color:#9FB9A1;
  text-align:center;
  transition: all 0.2s;
  }
 button:hover{
  background-color:#CDE3CF;
  }
  // @media all and (max-width:30em){
  //  a.button3{
  //   display:block;
  //   margin:0.2em auto;
  //  }
  // }

// .nav-img{
//   width: 100px;

// }

.footer{
  background-color: #8AA78C;
}

// img {
//   width: 300px;
//   height: 300px;
//   border-radius: 90px;
//   object-fit: cover;
// }

.home{
  background: url("https://i.imgur.com/5NRdFAw.png");
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  padding-bottom: 1px;
}